body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #888;
}

/*===================
	Start Header CSS 
=====================*/
.header {
	background-color: #fff;
	position: relative;
}

.header .navbar-collapse {
	padding: 0;
}

.header .header-inner {
	background: #fff;
	z-index: 999;
	width: 100%;
}

.header .logo {
	float: left;
	margin-top: 23px;
}

.header .logo a {
	font-size: 30px;
	font-weight: 600;
	color: #f78769;
}

.header .navbar {
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
	height: 0px;
	min-height: 0px;
}

.header .nav li {
	margin-right: 15px;
	float: left;
	position: relative;
}

.header .nav li:last-child {
	margin: 0;
}

.header .nav li a {
	color: #2C2D3F;
	font-size: 15px;
	font-weight: 500;
	padding: 25px 12px;
	position: relative;
	display: inline-block;
	position: relative;
}

.header .nav li a::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0%;
	background: #f78769;
	border-radius: 5px 5px 0 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.header .nav li.active a:before {
	opacity: 1;
	visibility: visible;
	width: 100%;
}

.header .nav li.active a {
	color: #f78769;
}

.header .nav li:hover a:before {
	opacity: 1;
	width: 100%;
	visibility: visible;
}

.header .nav li:hover a {
	color: #f78769;
}

.header .nav li a i {
	display: inline-block;
	margin-left: 1px;
	font-size: 13px;
}

/* Middle Header */
.header.style2 .header-inner {
	border-top: 1px solid #eee;
}

.header.style2 .logo {
	margin-top: 6px;
}

.header .middle-header {
	background: #fff;
	padding: 20px 0px;
}

.header .widget-main {
	float: right;
}

/* Dropdown Menu */
.header .nav li .dropdown {
	background: #fff;
	width: 220px;
	position: absolute;
	left: -20px;
	top: 100%;
	z-index: 999;
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 5px #3333334d;
	transform-origin: 0 0 0;
	transform: scaleY(0.2);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	top: 74px;
	border-left: 3px solid #f78769;
}

.header .nav li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}

.header .nav li .dropdown li {
	float: none;
	margin: 0;
	border-bottom: 1px dashed #eee;
}

.header .nav li .dropdown li:last-child {
	border: none;
}

.header .nav li .dropdown li a {
	padding: 12px 15px;
	color: #666;
	display: block;
	font-weight: 400;
	background: transparent;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.header .nav li .dropdown li a:before {
	display: none;
}

.header .nav li .dropdown li:last-child a {
	border-bottom: 0px;
}

.header .nav li .dropdown li:hover a {
	color: #f78769;
}

.header .nav li .dropdown li a:hover {
	border-color: transparent;
}

/* Header Sticky */
.header.sticky .header-inner {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: initial;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	animation: fadeInDown 0.5s both 0.1s;
	box-shadow: 0px -3px 20px 0px #ffd6cb
}

/*=========================
	End Header CSS
===========================*/

/*===========================
	Start Hero Area CSS
=============================*/
.slider .single-slider {
	height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-image 1s ease;
}

.slider .single-slider .text {
	margin-top: 120px;
}

.slider.index2 .single-slider .text {
	margin-top: 150px;
}

.slider .single-slider h1 {
	color: #2C2D3F;
	font-size: 35px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 42px;
}

.slider .single-slider h1 span {
	color: #f78769;
}

.slider .single-slider p {
	color: #2C2D3F;
	margin-top: 30px;
	font-weight: 400;
	font-size: 18px;
}

.slider .single-slider .button {
	margin-top: 36px;
}

.slider .single-slider .btn {
	color: #fff;
	background: #f78769;
	font-weight: 500;
	display: inline-block;
	margin: 0;
	margin-right: 10px;
}

.slider .single-slider .btn:last-child {
	margin: 0;
}

.slider .single-slider .btn.primary {
	background: #2C2D3F;
	color: #fff;
}

.slider .single-slider .btn.primary:before {
	background: #f78769;
}

/*===========================
	End Hero Area CSS
=============================*/

/*=============================
	Start Schedule CSS
===============================*/
.schedule {
	background: #fff;
	margin: 0;
	padding: 0;
	height: 230px;
}

.schedule .schedule-inner {
	position: relative;
	transform: translateY(-50%);
	z-index: 9;
}

.schedule .single-schedule {
	position: relative;
	text-align: left;
	z-index: 3;
	border-radius: 15px;
	background: #f78769;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.schedule .single-schedule .inner {
	overflow: hidden;
	position: relative;
	padding: 26px;
	z-index: 2;
}

.schedule .single-schedule:before {
	position: absolute;
	z-index: -1;
	content: '';
	bottom: -10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 80%;
	height: 90%;
	background: #f78769;
	opacity: 0;
	filter: blur(10px);
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.schedule .single-schedule:hover:before {
	opacity: 0.8;
}

.schedule .single-schedule:hover {
	transform: translateY(-5px);
}

.schedule .single-schedule .icon i {
	position: absolute;
	font-size: 110px;
	color: #fff;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
	z-index: -1;
	visibility: visible;
	opacity: 0.2;
	right: -25px;
	bottom: -30px;
}

.schedule .single-schedule h4 {
	font-size: 22px;
	font-weight: 600;
	display: inline-block;
	color: #fff;
}

.schedule .single-schedule p {
	color: #fff;
	margin-top: 10px;
}

.schedule .single-schedule ul {
	margin-top: 10px;
}

.schedule .single-schedule li {
	color: #fff;
	font-weight: 300;
	font-size: 15px;
	list-style-type: disc;
	margin-left: 16px;
}

.schedule .single-schedule li:nth-child(2) {
	color: #ffffff95;
}

.schedule .single-schedule li:nth-child(3) {
	color: #ffffff43;
}

.schedule .single-schedule a {
	color: #fff;
	margin-top: 15px;
	font-weight: 500;
	display: inline-block;
	position: relative;
}

.schedule .single-schedule a:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 1px;
	width: 0%;
	background: #fff;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.schedule .single-schedule a:hover:before {
	width: 100%;
	width: 100%;
}

.schedule .single-schedule a i {
	margin-left: 10px;
}

/*=============================
	End Schedule CSS
===============================*/

/*=============================
	Start Feautes CSS
===============================*/
.Feautes {
	padding-top: 0;
	padding-bottom: 20px;
}

.Feautes p {
	font-size: 18px;

	color: #2C2D3F;
}

.Feautes.index2 {
	padding-top: 100px;
}

.Feautes.testimonial-page {
	padding-top: 100px;
}

/*=============================
	End Feautes CSS
===============================*/

/*=======================
	Start Fun Facts CSS
=========================*/
.fun-facts {
	position: relative;
	margin: 0 auto 60px;
	width: 85%;
	border-radius: 30px;
}

.fun-facts.section {
	padding: 100px 0;
}

.fun-facts {
	background: url('img/bread-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.fun-facts .single-fun i {
	position: absolute;
	left: 0;
	font-size: 62px;
	color: #fff;
	height: 70px;
	width: 70px;
	line-height: 67px;
	font-size: 28px;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 2px solid #fff;
	border-radius: 0px;
	top: 50%;
	margin-top: -35px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 50%;
}

.fun-facts .single-fun:hover i {
	color: #f78769;
	background: #fff;
	border-color: transparent;
}

.fun-facts .single-fun .content {
	padding-left: 80px;
}

.fun-facts .single-fun span {
	color: #fff;
	font-weight: 600;
	font-size: 30px;
	position: relative;
	display: block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s eas;
	display: block;
	margin-bottom: 7px;
}

.fun-facts .single-fun p {
	color: #fff;
	font-size: 15px;
}

/*===================
	End Fun Facts
=====================*/
/*==========================
	Start Portfolio CSS
============================*/
.pf-details .body-text h3 {
	font-size: 30px;
	font-weight: 600;
	color: #333;
	margin-top: 40px;
}

.pf-details .body-text p {
	margin-top: 20px;
}

/*==========================
	End Portfolio CSS
============================*/

/*=========================
   Start Contact Us CSS
===========================*/
.contact-us .inner {
	box-shadow: 0px 0px 10px #00000024;
	border-radius: 15px;
	overflow: hidden;

}

.contact-us .contact-us-left {
	width: 100%;
	height: 100%;
}

.contact-us .contact-us-form {
	padding: 50px 40px;
}

.contact-us .contact-us-form h2 {
	position: relative;
	font-size: 32px;
	color: #333;
	font-weight: 600;
	line-height: 27px;
	margin-bottom: 12px;
	padding-bottom: 20px;
	text-align: left;
}

.contact-us .contact-us-form h2:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 2px;
	width: 50px;
	background: #f78769;
}

.contact-us .contact-us-form p {
	font-size: 14px;
	color: #333;
	font-weight: 400;
	text-align: left;
	margin-bottom: 50px;
}

.contact-us .form {
	margin-top: 30px;
}

.contact-us .form .form-group {
	margin-bottom: 22px;
}

.contact-us .form .form-group input {
	width: 100%;
	height: 50px;
	border: 1px solid #eee;
	padding: 0px 18px;
	color: #555;
	font-size: 14px;
	font-weight: 400;
	border-radius: 15px;
}

.contact-us .form .form-group textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #eee;
	padding: 18px;
	color: #555;
	font-size: 14px;
	font-weight: 400;
	border-radius: 15px;
}

.contact-us .form .form-group.login-btn {
	margin: 0;
}

.contact-us .form button {
	border: none;
}

.contact-us .form .btn {
	display: inline-block;
	margin-right: 10px;
	color: #fff;
	line-height: 20px;
	width: 100%;
}

.contact-us .form .btn:hover {
	background: #f78769;
	color: #fff;
}

.contact-us img {
	padding: 20px 30px 20px 0px;
}

.contact-us .contact-info {
	margin-top: 50px;
}

.contact-us .single-info {
	background: #f78769;
	padding: 35px 40px;
	height: 110px;
	border-radius: 15px;
	position: relative;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.contact-us .single-info:before {
	position: absolute;
	z-index: -1;
	content: '';
	bottom: -10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 80%;
	height: 90%;
	background: #f78769;
	opacity: 0;
	filter: blur(10px);
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.contact-us .single-info:hover:before {
	opacity: 0.8;
}

.contact-us .single-info:hover {
	transform: translateY(-5px);
}

.contact-us .single-info i {
	font-size: 42px;
	color: #fff;
	position: absolute;
	left: 30px;
}

.contact-us .single-info .content {
	margin-left: 45px;
}

.contact-us .single-info .content h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 600;

}

.contact-us .single-info .content p {
	color: #fff;
	margin-top: 5px;
}

/*=========================
   End Contact Us CSS
===========================*/

/*========================
	Start Error 404 CSS
==========================*/
.error-page {
	text-align: center;
	background: #fff;
	border-top: 1px solid #eee;
}

.error-page .error-inner {
	display: inline-block;
}

.error-page .error-inner h1 {
	font-size: 140px;
	text-shadow: 3px 5px 2px #3333;
	color: #f78769;
	font-weight: 700;
}

.error-page .error-inner h1 span {
	display: block;
	font-size: 25px;
	color: #333;
	font-weight: 600;
	text-shadow: none;
}

.error-page .error-inner p {
	padding: 20px 15px;
}

/*========================
	End Error 404 CSS
==========================*/

/*===========================
	Start Mail Success CSS
=============================*/
.mail-seccess {
	text-align: center;
	background: #fff;
	border-top: 1px solid #eee;
}

.mail-seccess .success-inner {
	display: inline-block;
}

.mail-seccess .success-inner h1 {
	font-size: 100px;
	text-shadow: 3px 5px 2px #3333;
	color: #f78769;
	font-weight: 700;
}

.mail-seccess .success-inner h1 span {
	display: block;
	font-size: 25px;
	color: #333;
	font-weight: 600;
	text-shadow: none;
	margin-top: 20px;
}

.mail-seccess .success-inner p {
	padding: 20px 15px;
}

.mail-seccess .success-inner .btn {
	color: #fff;
}

/*===========================
	End Mail Success CSS
=============================*/

/*=========================
	Start Footer CSS
===========================*/
.footer {
	position: relative;
}

.footer .footer-top {
	padding: 100px 0px;
	position: relative;
	background: #f78769;
}

.footer .footer-top:before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.1;
}

.footer .single-footer.f-link li a i {
	margin-right: 10px;
}

.footer .single-footer.f-link li {
	display: block;
	margin-bottom: 12px;
}

.footer .single-footer.f-link li:last-child {
	margin: 0;
}

.footer .single-footer.f-link li a {
	display: block;
	color: #fff;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
}

.footer .single-footer.f-link li a:hover {
	padding-left: 8px;
}

.footer .single-footer h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	padding-bottom: 20px;
	position: relative;
}

.footer .single-footer h2::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0px;
	height: 3px;
	width: 50px;
	background: #fff;
}

.footer .single-footer p {
	color: #fff;
	padding-bottom: 15px;
}

.footer .copyright {
	background: #f78769;
	padding: 25px 0px 25px 0px;
	text-align: center;
}

.footer .copyright .copyright-content p {
	color: #fff;
}

.footer .copyright .copyright-content p a {
	color: #fff;
	font-weight: 400;
	text-decoration: underline;
	display: inline-block;
	margin-left: 4px;
}

/*=========================
	End Footer CSS
===========================*/

/* slideNav */

#dole{
	box-shadow: 0px 5px 20px 0px #ffd6cb;
}

.slideshow-container {
	position: -webkit-sticky;
	position: sticky;
	width: 920px;
	margin: auto;
	height: auto;
	padding: 50px;
}

.mySlides {
	display: none;
	text-align: center;
	
}
.mySlides p {
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
}

p.vite-ze{
	color: #717171;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
}

@media screen and (max-width: 940px) {
	.slideshow-container {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.slideshow-container {
		width: 100%;
	}

}

.boxik .section-title {
	margin-top: 80px;
	text-align: justify;
}

.boxik .section-title  h2 {
	font-size: 23px;
	text-transform: none;
	text-align: left;
}
.boxik .section-title p {
	font-size: 17px;
	color: #555;
}

.boxik .section-title .odstavec {
	margin-bottom: 30px;
}

.boxik .section-title .odstavec:last-child {
	margin-bottom: 80px;
}

.boxik .odstavec{
	width: 100%;
	padding: 40px;
	box-shadow: 0 9px 37px #ffd6cb;
	color: #555;
	border-radius: 15px;
}

.boxik .odstavec p {
	line-height: 1.6em;
	font-weight: 400;
}

.boxik .odstavec p i {
	font-size: 15px;
}

.boxik .section-title ul li {
	font-size: 17px;
	font-weight: 400;
	padding-left: 25px; /* Prostor pro ikonu vlevo od textu */
  text-indent: -33px; /* Zarovná text, aby se vyhnul ikoně */
  line-height: 1.8em;
  text-align: left;
}

.boxik .section-title ul li::before {
	content: "\eed8";
	font-family: "IcoFont";
	font-size: 23px;
	margin-right: 10px; 
  	color: #f78769; 
}

.prevod p {
	margin-top: 40px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6em;
}

.prevod p:first-child{
	margin-top: 80px;
	margin-bottom: 80px;
	line-height: 1.9em;
}

.prevod b{
	font-size: 18.5px;
}


.prevod .odstavec {
	padding: 20px;
	border-radius: 20px;
	margin: 0px;
}

.prevod p:nth-child(4) {
	margin-left: 30px;
}

.prevod p:nth-child(5) {
	margin-left: 60px;
}

.prevod strong, .odstavec strong{
	color: #f78769;
}

@keyframes slideInRight {
	from {
	  transform: translateX(100%);
	  opacity: 0;
	}
	to {
	  transform: translateX(0);
	  opacity: 1;
	}
  }
  
  .prevod .odstavec {
	opacity: 0;
	transition: opacity 0.5s ease-out;
  }
  
  /* Třída pro aktivaci animace */
  .prevod .odstavec.show {
	animation: slideInRight 0.8s ease-out forwards;
  }
  
  